* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Serif', serif;
    color: rgb(141, 5, 153);
}

/*Cabecera con logo y barra de navegación*/

header {
    display: flex;
    border: solid;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    padding:20px;
    position: absolute;
    top: 0;
    width: 100%;
}

header .burguer {
    display: none;
    color: beige;
    font-size: 34px;
}

.linea {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header a img {
    margin-top: 30px;
   margin: 10px;
   padding: 10px;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    padding: 30px;
}

.contenedor {
    margin-top: 120px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

img.contenedor {
    width: 100%;
}

.paginacion {
display: flex;
flex-direction: row;
justify-content: center;
}

.pagina {
    background-color: white;
    color: black;
    border: 1px solid rgb(241, 86, 241)
}

button {
    background-color: rgb(241, 86, 241);
    color: black;
    font-size: 20px;
    padding: 15px;
    border-radius: 5px;
    border: none;
}

h1 {
    text-align: center;
    padding: 20px;
    color: blueviolet;
}

p {
    padding: 10px;
    line-height: 1.5em;
    color: darkblue;
}


/*Formulario*/

.conten {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.fila {
    display: flex;
}

.col50 {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 20px;
}

form {
    border: 2px solid rgb(189, 47, 255);
    margin:40px 0 -40px;
    width: 50%;
    padding: 10px;
    box-shadow: 4px, 4px,16 rgb(152, 20, 156);
    border-radius: 20px;
    z-index: 1;
}

/*footer*/

footer {
    width: 100%;
    color: rgb(5, 2, 15);
    display: flex;
    flex-wrap: wrap;
    background-color:#d492c7;
    background-size: 16px;
    position: relative; 
}

footer p {
    color: black;
}

.minifooter p {
    font-size: 16px;
    padding: 10px;
}

.legales a {
    font-size: 18px;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    align-items: center;
    margin: 20px;
}
    
.izda {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
    
.dcha {
    display: flex;
    align-items: right;
    justify-content: center;
    font-size: 40px;
}
    
.centro {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    
.col1 {
    padding: 60px;
    flex-basis: 300px;
    flex-grow: 1;
}

.col100 {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* --------------------------------------------------------------------
--------------------------------------------------------------------
-------------------------------------------------------------------- */
/* Media QUERIES */

@media (min-width : 800px) {
    footer .izda, footer .centro, footer .dcha {
        flex-basis: 200px;}
}
        
@media (max-width: 800px){
    nav {display: none;
}

header .burguer {
    display: initial;
}

    footer .izda, footer .centro, footer .dcha {
        flex-basis: 200px;
    }
    
}

@media (max-width : 775px){
    .separador {
        display: initial;
    }

    /* Cambia la disposicion de las filas a columnas */
    .fila {
        flex-direction: column;
        align-items: center;
    }

    /* Se disminuye un poco los margenes y el tamaño de los botones */
    .boton{
        margin: 20px;
        font-size: 16px;
    }

    /* Se disminuye el boton de submit */
    .input_sub {
        margin: 20px;
        padding: 12px;
        font-size: 16px;
    }

    /* Se resetea el basis de las columnas */
    .col1 {
        flex-basis: initial;
    }


    /* Se cambia el tamaño de las imagenes */
    .fila div img {
        height: 180px;
    }
}

@media (max-width: 640px){

    /* Se cambia el tamaño del encabezado del hero */
    .hero h1{
        font-size: 36px;
    }
    
    .hero h2{
        font-size: 30px;
    }

    /* Se disminuye el boton de submit */
    .input_sub {
        margin: 20px;
        padding: 12px;
        font-size: 16px;
    }

    /* Se disminuye el tamaño del input-text */
    .input_news {
        font-size: 16px;
        padding: 10px;
        width: 100%;
    }

    .ultima{
        display: flex;
        flex-direction: column;
    }
    
    /* Se baja un poco el texto del footer para que no colapse con el boton */
    .grande {
        margin-top: 10px;
    }
}

@media (max-width: 450px){

    /* Se disminuye el tamaño de letra general de la web */
    body {
        font-size: 18px;
    }

     /* Se cambia el tamaño del encabezado del hero */
    .hero h1{
        font-size: 26px;
    }
    
    .hero h2{
        font-size: 20px;
    }

    /* Se reduce el padding de las filas */
    .fila {
        padding: 20px 10px;
    }

    .fila a {
        font-size: 16px;
    }

    .fila div img {
        height: 160px;
    }

    .slogan {
        font-size: 24px;
    }

    .col100 .newsletter {
        padding: 5px;   
        font-size: 20px;
        text-align: center;
    }

    .input_news, .input_sub {
        font-size: 16px;
        padding: 10px;
        margin: 5px 5px 20px 5px;
    }

    .dcha a {
        font-size: 30px;
    }
    
}

